---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Navigation</h3>

<div class="entries-list">
  {% for page in site.pages %}
    {% if page.title == "Projects" or page.title == "Research" or page.title == "About" %}
      <div class="list__item">
        <article class="archive__item">
          <h2 class="archive__item-title no_toc">
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          </h2>
          {% if page.excerpt %}
            <div class="archive__item-excerpt">
              {{ page.excerpt | markdownify }}
            </div>
          {% endif %}
        </article>
      </div>
    {% endif %}
  {% endfor %}
</div>
